
<footer class="dl-mt-40">
  <div class="footer_top dl-pt-30">
    <div class="container">
      <div class="row dl-mb-30">
        <div class="col-md-3 col-lg-4 col-2"></div>
        <div class="col-md-6 col-lg-4 col-8">
          <h3 class=" undefined">FACTS & FIGURES</h3>
          <div class="countOut" data-value="80">
            <div class="countIn"></div>
          </div>
        </div>
        <div class="col-md-3 col-lg-4 col-2"></div>
      </div>
      <p class="text-center dl-mb-30">An approach to web design aimed at crafting sites to provide an optimal viewing experience and engage worldwide methodologies with web-enabled technology. Method of support, a technique used to make inferences from high standards in web-readiness.</p>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <hr/>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <div class="footer_content dl-pt-60 dl-pb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="first_footer_list dl-mb-40">
            <div class="img_logo"></div>
            <p class="dl-mb-50">Method of support, a technique used to make inferences from high standards in web-readiness without backward-compatible data. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
            <h4 class="dl-mb-10 undefined">Join Our Community </h4>
            <div class="countOut" data-value="80">
              <div class="countIn"></div>
            </div>
            <form>
              <input type="text" placeholder="search"/><i class="far fa-envelope"></i><i class="far fa-envelope-open"></i>
            </form>
          </div>
        </div>
        <div class="col-md-3 dl-mb-30">
          <div class="second_footer_list">
            <h5 class="dl-mb-10 undefined">Article
              <div class="countOut" data-value="80">
                <div class="countIn"></div>
              </div>
            </h5><a class=" undefined">'Patio' - Outstanding Flamenco Guitar</a>
            <p class="dl-mt-10">(5122) (<span class=" undefined">Posts </span>) 02 January 2016</p>
            <p>Even the all-powerful Pointing from the countries Vokalia and...</p>
            <hr/><a class=" undefined">Custom Post Format</a>
            <p class="dl-mt-10">(19621) (<span class=" undefined">Posts </span>) 07 January 2016</p>
            <p>Following has meticulously recorded six different acoustic...</p>
            <hr/><a class=" undefined">Big Rethoric Hometown Ran</a>
            <p class="dl-mt-10">(18191) (<span class=" undefined">Posts </span>) 21 June 2016</p>
            <p>Flex is now with 8 post formats built-in for blogging: standard, video,...</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="third_footer_list">
            <h4 class="dl-m2-10 text-md-left text-center undefined">Popular Tags
              <div class="countOut" data-value="80">
                <div class="countIn"></div>
              </div>
            </h4>
            <ul class="list-unstyled text-center dl-mt-10">
              <li>Standard Post<span>13</span></li>
              <li>Video Post<span>5</span></li>
              <li>Audio Post<span>4</span></li>
              <li>Custom Post<span>3</span></li>
              <li>Galley Post<span>3</span></li>
              <li>Link Post<span>2</span></li>
            </ul>
            <hr/>
            <button class="dl-mb-10">Download Now!<i class="far fa-gem"></i></button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fourth_footer_list">
            <p class="dl-mb-30">Interactively procrastinate high-payoff content without backward-compatible data. Seamlessly concept of agency has become widely used in learning research, especially in studies addressing professional and workplace learning.</p>
            <hr class="dl-mb-30"/>
            <div class="circle_icon dl-mt-10"><i class="fas fa-mug-hot undefined"></i></div>
            <h4 class="text-center dl-mt-20">Flex is Awesome</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom dl-pt-30 dl-pb-30 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="circle_icon"><i class="fas fa-chart-area undefined"></i></div>
          <h2 class="dl-mt-10 counter undefined" id="h2_1"> 100 </h2>
          <h5 class="dl-mt-20 dl-mb-20">EFFECTIVE INCREASE</h5>
        </div>
        <div class="col-md-3">
          <div class="circle_icon"><i class="fas fa-dollar-sign undefined"></i></div>
          <h2 class="dl-mt-10 counter undefined" id="h2_2"> 85 </h2>
          <h5 class="dl-mt-20 dl-mb-20">SECURED PAYMENTS</h5>
        </div>
        <div class="col-md-3">
          <div class="circle_icon"><i class="far fa-thumbs-up undefined"></i></div>
          <h2 class="dl-mt-10 counter undefined" id="h2_3"> 8712 </h2>
          <h5 class="dl-mt-20 dl-mb-20">PROJECTS CAPITALIZED</h5>
        </div>
        <div class="col-md-3">
          <div class="circle_icon"><i class="far fa-smile-beam undefined"></i></div>
          <h2 class="dl-mt-10 counter undefined" id="h2_4"> 52 </h2>
          <h5 class="dl-mt-20 dl-mb-20">DEDICATED SUPPORT</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="copyRight text-center">
    <p>© 2019 Flex. All Rights Reserved. Powered by Aplikko</p>
  </div>
</footer>