mixin listStyle
    div(class="countOut" data-value="80")
        .countIn
footer.dl-mt-40
            .footer_top.dl-pt-30
                .container
                    .row.dl-mb-30
                        .col-md-3.col-lg-4.col-2
                        .col-md-6.col-lg-4.col-8
                                h3(class=" " + themeColor ) FACTS & FIGURES
                                +listStyle
                        .col-md-3.col-lg-4.col-2
                    p.text-center.dl-mb-30 An approach to web design aimed at crafting sites to provide an optimal viewing experience and engage worldwide methodologies with web-enabled technology. Method of support, a technique used to make inferences from high standards in web-readiness.
                    .row
                        .col-md-2
                        .col-md-8
                            hr
                        .col-md-2
            .footer_content.dl-pt-60.dl-pb-40
                .container
                    .row
                        .col-md-3
                            .first_footer_list.dl-mb-40
                                .img_logo
                                p.dl-mb-50 Method of support, a technique used to make inferences from high standards in web-readiness without backward-compatible data. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.
                                h4(class="dl-mb-10 " + themeColor) Join Our Community 
                                +listStyle
                                form
                                    input(type="text" placeholder="search")
                                    i(class="far fa-envelope")
                                    i(class="far fa-envelope-open")
                        .col-md-3.dl-mb-30
                            .second_footer_list
                                h5(class="dl-mb-10 " + themeColor) Article
                                    +listStyle
                                a(class=" " + themeColor ) 'Patio' - Outstanding Flamenco Guitar
                                
                                p.dl-mt-10 (5122) (
                                    span(class=" " + themeColor ) Posts 
                                    | ) 02 January 2016
                                p Even the all-powerful Pointing from the countries Vokalia and...
                                hr                                
                                a(class=" " + themeColor ) Custom Post Format
                                
                                p.dl-mt-10 (19621) (
                                    span(class=" " + themeColor ) Posts 
                                    | ) 07 January 2016
                                p Following has meticulously recorded six different acoustic...
                                hr                               
                                a(class=" " + themeColor ) Big Rethoric Hometown Ran
                                
                                p.dl-mt-10 (18191) (
                                    span(class=" " + themeColor ) Posts 
                                    | ) 21 June 2016
                                p Flex is now with 8 post formats built-in for blogging: standard, video,...
                                 
                        .col-md-3
                            .third_footer_list
                                    h4(class="dl-m2-10 text-md-left text-center " + themeColor) Popular Tags
                                        +listStyle
                                    ul.list-unstyled.text-center.dl-mt-10
                                    
                                        li
                                            | Standard Post
                                            span 13
                                        li
                                            | Video Post
                                            span 5
                                        li
                                            | Audio Post
                                            span 4
                                        li
                                            | Custom Post
                                            span 3
                                        li
                                            | Galley Post
                                            span 3
                                        li
                                            | Link Post
                                            span 2
                                    hr
                                    button.dl-mb-10 Download Now!
                                        i(class="far fa-gem")
                        .col-md-3
                            .fourth_footer_list
                                p.dl-mb-30 Interactively procrastinate high-payoff content without backward-compatible data. Seamlessly concept of agency has become widely used in learning research, especially in studies addressing professional and workplace learning.
                                hr.dl-mb-30
                                div(class='circle_icon dl-mt-10')
                                    i(class="fas fa-mug-hot " + themeColor)
                                h4.text-center.dl-mt-20 Flex is Awesome
            .footer_bottom.dl-pt-30.dl-pb-30.text-center
                .container
                    .row
                        .col-md-3
                            div(class='circle_icon')
                                i(class="fas fa-chart-area " + themeColor)
                            h2(class="dl-mt-10 counter " + themeColor id="h2_1")  100 
                            h5.dl-mt-20.dl-mb-20 EFFECTIVE INCREASE
                        .col-md-3
                            div(class='circle_icon')
                                i( class="fas fa-dollar-sign " + themeColor)
                            h2(class="dl-mt-10 counter " + themeColor id="h2_2")  85 
                            h5.dl-mt-20.dl-mb-20 SECURED PAYMENTS
                        .col-md-3
                            div(class='circle_icon')
                                i(class="far fa-thumbs-up " + themeColor)
                            h2(class="dl-mt-10 counter " + themeColor id="h2_3")  8712 
                            h5.dl-mt-20.dl-mb-20 PROJECTS CAPITALIZED
                        .col-md-3
                            div(class='circle_icon')
                                i(class="far fa-smile-beam " + themeColor)
                            h2(class="dl-mt-10 counter " + themeColor id="h2_4")  52 
                            h5.dl-mt-20.dl-mb-20 DEDICATED SUPPORT
            .copyRight.text-center
                p © 2019 Flex. All Rights Reserved. Powered by Aplikko
