
<div class="slider">
  <ul class="list-unstyled">
    <li class="item_1 selected">
      <div class="container text-left">
        <div class="start_animation"></div>
        <h6 class="item1_h dl-mt-100 ">A professional design based on vibrancy and elegance</h6>
        <p class="item1_p dl-mt-40">Flex is an exquisite design bursting with sharpness and bold, but complementary visuals; within a rich framework of emphasized typography and iconography.</p>
        <div class="item1_btn dl-mt-40">
          <button><i class="fas fa-chevron-right "> </i>Retina Perfect</button>
          <button> Flex It More!<i class="fas fa-chevron-right "> </i></button>
        </div>
      </div><i class="fas fa-chevron-right right_click"></i>
      <i class="fas fa-chevron-left left_click"></i>
    </li>
    <li class="item_2">
      <div class="container">
        <div class="start_animation"></div>
        <h6 class="item2_h dl-pt-100">This is Flex, a highly user friendly interface template.</h6>
        <p class="item2_p dl-mt-30">Easily configure complex layouts with the Drag & Drop interface for the whole site or specific pages.</p>
        <button class="item2_btn dl-mt-40"><i class="fas fa-chevron-right ">Show Features </i></button>
      </div><i class="fas fa-chevron-right right_click"></i>
      <i class="fas fa-chevron-left left_click"></i>
    </li>
    <li class="item_3">
      <div class="container">
        <div class="start_animation"></div>
        <div class="img_cover dl-mt-100"><img class="item3_img" src="images/item_2/iPhone6_mockup_front.png"/>
          <p class="imgcover_p">
              MOST<span class=" "> FLEXIBLE </span> JOOMLA TEMPLATE</p>
          <p class="imgcover_p2">
            Pursue your passion. <br>
            With continuous heart rate readings, surge keeps you in the zone.
          </p>
          <button class="imgcover_btn"><i class="fas fa-chevron-right "> </i>Heart Rate</button>
        </div>
        <h6 class="item3_h dl-mt-100">Creative, adaptive <br> and ever-ready to serve you.
          <div class="countOut" data-value="80">
            <div class="countIn"></div>
          </div>
        </h6>
        <p class="item3_p dl-mt-20">Good seasons, day place male evening life after together gathered let void she'd grass created days upon after above great. Seasons earth face seasons so for called have fly seasons of one waters.    </p>
        <div class="item3_btn dl-mt-30">
          <button><i class="fas fa-chevron-right"> </i>Download</button>
          <button>Learn More<i class="fas fa-chevron-right"></i></button>
          <button>Exercise<i class="fas fa-chevron-right"></i></button>
        </div>
      </div><i class="fas fa-chevron-right right_click"></i>
      <i class="fas fa-chevron-left left_click"></i>
    </li>
    <li class="item_4">
      <div class="container">
        <div class="start_animation"></div>
        <h3 class="item4_h3 dl-mt-100">Drag & Drop</h3>
        <h2 class="item4_h2">Layout Builder</h2>
        <p class="item4_p dl-mt-40">Unlimited positions, with drag and drop add, delete, move and resize capabilities.</p>
      </div><i class="fas fa-chevron-right right_click"></i>
      <i class="fas fa-chevron-left left_click"></i>
    </li>
  </ul>
</div>