mixin listStyle
    div(class="countOut" data-value="80")
        .countIn
- var themeColor = 'theme_color'                    
    .slider
        ul.list-unstyled
            li.item_1.selected
                .container.text-left
                    .start_animation
                    h6(class="item1_h dl-mt-100 " ) A professional design based on vibrancy and elegance
                    p(class="item1_p dl-mt-40") Flex is an exquisite design bursting with sharpness and bold, but complementary visuals; within a rich framework of emphasized typography and iconography.
                    .item1_btn.dl-mt-40
                        button
                            i(class="fas fa-chevron-right " ) 
                            | Retina Perfect
                        button  Flex It More!
                            i(class="fas fa-chevron-right " ) 
                i(class="fas fa-chevron-right right_click")
                |
                |
                i(class="fas fa-chevron-left left_click")
            li.item_2
                
                    .container
                        .start_animation
                        h6.item2_h.dl-pt-100 This is Flex, a highly user friendly interface template.
                           
                        p.item2_p.dl-mt-30 Easily configure complex layouts with the Drag & Drop interface for the whole site or specific pages.
                        button.item2_btn.dl-mt-40
                            i(class="fas fa-chevron-right ") Show Features 
                    i(class="fas fa-chevron-right right_click")
                    |
                    |
                    i(class="fas fa-chevron-left left_click")
            li.item_3
                .container
                    .start_animation
                    .img_cover.dl-mt-100
                        img(src="images/item_2/iPhone6_mockup_front.png" class="item3_img")
                        p.imgcover_p   
                            | MOST
                            span(class=" " )  FLEXIBLE 
                            |  JOOMLA TEMPLATE
                        p.imgcover_p2
                            | Pursue your passion. <br>
                            | With continuous heart rate readings, surge keeps you in the zone.
                        button.imgcover_btn
                            i(class="fas fa-chevron-right ") 
                            | Heart Rate
                    h6.item3_h.dl-mt-100
                        | Creative, adaptive <br> and ever-ready to serve you.
                        +listStyle
                    p.item3_p.dl-mt-20
                        | Good seasons, day place male evening life after together gathered let void she'd grass created days upon after above great. Seasons earth face seasons so for called have fly seasons of one waters.    
                    .item3_btn.dl-mt-30
                        button
                            i(class="fas fa-chevron-right") 
                            | Download
                        button Learn More
                            i(class="fas fa-chevron-right")
                        button Exercise
                            i(class="fas fa-chevron-right")
                i(class="fas fa-chevron-right right_click")
                |
                |
                i(class="fas fa-chevron-left left_click")
            li.item_4
                .container
                    .start_animation
                    h3.item4_h3.dl-mt-100 Drag & Drop
                    h2.item4_h2 Layout Builder
                    p.item4_p.dl-mt-40 Unlimited positions, with drag and drop add, delete, move and resize capabilities.
                i(class="fas fa-chevron-right right_click")
                |
                |
                i(class="fas fa-chevron-left left_click")
            
                