
<header>
  <nav class="navbar navbar-expand-lg header_top">
    <div class="container">
      <div class="logo"><img src="images/logo.png"/></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item Home active"><a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item About"><a class="nav-link" href="about.html">About                              </a></li>
          <li class="nav-item Menu"><a class="nav-link" href="menus_page.html">Menu   </a></li>
          <li class="nav-item Reservasyon"><a class="nav-link" href="reservasyon.html">Reservasyon                         </a></li>
          <li class="nav-item Contact"><a class="nav-link" href="contact.html">Contact                             </a></li>
          <li class="nav-item Service"><a class="nav-link" href="service.html">Service</a></li>
          <li class="header_icon"><a class="nav-link " href="login.html"><i class="far fa-user-circle"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>