mixin templateStyle
    .template_style
        .template_
            img(src="images/template_icon.png")
doctype
html
    head
        title Menu
        include includes/stylies.pug
        link(rel="stylesheet" href="css/header_footer.css")
        link(rel="stylesheet" href="css/menus_page.css")
        link(rel="stylesheet" href="css/mediaQuery.css")
        link(href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet") 
    body
        include header.pug
        section.main.start
            .layout
                h2.h1.text-center Start Menu
        section.menus.dl-mt-70
            .container
                .row
                    .col-md-6
                        .col-md-12 
                            h2.text-left.dl-mb-40 Soup
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/soup1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $3
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/soup2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/soup3.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/soup4.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $3
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/soup5.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    .col-md-6
                        .col-md-12 
                            h2.text-left.dl-mb-40 Salads
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/salad1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $5
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/salad2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $3
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/salad3.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $4
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/salad4.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $4
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/start/salad5.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $3
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        
        section.main.dl-mt-70.dl-mb-70
            .layout
                h2.h1.text-center Main Menu
        section.menus
            .container
                .row
                    .col-md-6
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/pizza1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $16
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/pizza2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $17
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/burger1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $11
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/burger2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $10
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/fish1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $16
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    .col-md-6
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/fish2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $14
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/chiken1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $9
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/chiken2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $11
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/mexican1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $15
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/main/mexican2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $13
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                
        section.main.desert.dl-mt-70.dl-mb-70
            .layout
                h2.h1.text-center Desert Menu
        section.menus
            .container
                .row
                    .col-md-6
                        .col-md-12 
                            h2.text-left.dl-mb-40 Sweet
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/sweet1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $6
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/sweet2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $4
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/sweet3.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $5
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/sweet4.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $6
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/sweet5.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $5
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    .col-md-6
                        .col-md-12 
                            h2.text-left.dl-mb-40 Ice cream
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/icecream1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $4
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/icecream2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $5
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/icecream3.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $5
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/icecream4.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $5
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/desert/icecream5.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $4
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        
        section.main.drinks.dl-mt-70.dl-mb-70
            .layout
                h2.h1.text-center Drinks Menu
        section.menus
            .container
                .row
                    .col-md-6
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/drinks/drink1.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $3
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/drinks/drink2.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                    .col-md-6
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/drinks/drink3.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $2
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        .col-md-12.dl-mb-40  
                            .menu.text-left
                                .menu_img
                                    img(src="images/menus/drinks/drink4.png")
                                .menu_text
                                    .list_price
                                        a(class="h5" href="#") Menu..
                                        h5 $3
                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            
        include footer.pug
        include includes/scripts
        script(src="js/javascript.js")